<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pay Roll</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <script src="app.js"></script>
  <!-- <script src="controllers.js"></script> -->
  <script src="payrollctrl.js"></script>
</head>

<body>
  <img src="./images/joseph-farms-cheese-header.jpg" alt="Joseph Gallo Farms Image">
  <h1 id='title'>Pay Roll</h1>

  <div ng-app="myApp" ng-controller="payRollCtrl">
    <div id="payRollForm">
      <form name="searchDate">
        <label>
          <strong>Cheese Sale Date</strong>
          <span class="required">*</span>
        </label>
        <input type="date" name="date" ng-model="data.date">
        <button ng-click="send()">
          <strong>Search</strong>
        </button>
      </form>
    </div>
    <br />
    <br />

    <div id="filter">
      <b>Filter:</b>
      <input ng-model="query" type="text" />
    </div>
    <br>

    <table id="sortTablePayRoll">
      <tr>
        <th>
          <a id="heading" href="" ng-click="sortField = 'empnum'; reverse = !reverse">Employee Number</th>
        <th>
          <a id="heading" href="" ng-click="sortField = 'fname'; reverse = !reverse">First Name</th>
        <th>
          <a id="heading" href="" ng-click="sortField = 'lname'; reverse = !reverse">Last Name</th>
        <th>
          <a id="heading" href="" ng-click="sortField = 'pounds'; reverse = !reverse">Total Pounds</th>
        <th>
          <a id="heading" href="" ng-click="sortField = 'pounds'; reverse = !reverse">Total Amount</th>
      </tr>
      <tr id="sortData" ng-repeat="order in orders | filter:query | orderBy:sortField:!reverse">
        <td>{{order.empnum}}</td>
        <td>{{order.fname}}</td>
        <td>{{order.lname}}</td>
        <td>{{order.totalpounds}}</td>
        <td>{{'$' + order.totalamount}}</td>
      </tr>
    </table>
  </div>
</body>

</html>