#title {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#firstname,
#lastname,
#employeenumber,
#saledate,
#email,
#date {
  margin: 8px 0;
  box-sizing: border-box;
}

#firstname,
#lastname,
#employeenumber,
#saledate,
#email,
#date {
  border-width: .50px;
  border-color: gray;
  border-radius: 13px;
  border-style: solid;
  padding-left: 10px;
  width: 200px;
  height: 30px;
}

select {
  border-radius: 5px;
  /* //border-style: groove;
//  padding-left: 10px;
//  width: 100px; */
  height: 23px;
}

#variety16 {
  padding-left: 3px;
  border-radius: 5px;
  width: 136px;
  height: 18px;
  border-style: groove;
}

#style16 {
  padding-left: 3px;
  border-radius: 5px;
  width: 70px;
  height: 18px;
  border-style: groove;
}

#qty16 {
  width: 40px;
}

#size16 {
  width: 60px;
}

#size1,
#size2,
#size3,
#size4,
#size5,
#size6,
#size7,
#size8,
#size9,
#size10,
#size11,
#size12,
#size13,
#size14,
#size15 {
  width: 60px;
}

#qty1,
#qty2,
#qty3,
#qty4,
#qty5,
#qty6,
#qty7,
#qty8,
#qty9,
#qty10,
#qty11,
#qty12,
#qty13,
#qty14,
#qty15 {
  width: 40px;
}

#style1,
#style2,
#style3,
#style4,
#style5,
#style6,
#style7,
#style8,
#style9,
#style10,
#style11,
#style12,
#style13,
#style14,
#style15 {
  width: 75px;
}

#countPounds1,
#countPounds2,
#countPounds3,
#countPounds4,
#countPounds5,
#countPounds6,
#countPounds7,
#countPounds8,
#countPounds9,
#countPounds10,
#countPounds11,
#countPounds12,
#countPounds13,
#countPounds14,
#countPounds15,
#countPounds16 {
  padding-left: 5px;
  border-radius: 5px;
  width: 38px;
  height: 18px;
  border-style: groove;
}

/* #totalqty{
  padding-left: 200px;
 } */
#totalPadding {
  padding-left: 40px;
}

::placeholder {
  color: #A9A9A9;
  opacity: 1;
}

#main {
  background-image: url(./images/photo-1523741543316-beb7fc7023d8.jpeg);
  /* background-size:cover; */
  background-repeat: no-repeat;
  background-position: center;
}

#confirmation {
  background-color: white;
}

#indexForm {
  /* //background-color: red; */
  margin: 0 auto;
  width: 1400px;
  height: 850px;
}

#orderListForm,
#pickListForm,
#payRollForm {
  /* display: inline-block; */
  /* background-color: red; */
  /* border-radius: 10px; */
  /* width: 338px;
  margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* border: 3px solid green; */
  text-align: center;
}

#fieldSetPersonal {
  position: relative;
  right: 250px;
  top: 195px;
}

#fieldSetCheese {
  position: relative;
  left: 242px;
  bottom: 348px;
}

#fieldSetPersonal,
#fieldSetCheese {
  background-color: rgb(255, 255, 255, 0.65);
  filter: alpha(opacity=100);
  /* width: 500px; */
  align-items: center;
  border: 1px solid black;
  width: 400px;
  margin: auto;
}

.myNewOrder {
  text-align: center;
}

#total {
  width: 35px;
}

#checkMark {
  width: 5%;
}

#received {
  text-align: center;
  font-size: 20px;
}

#submit,
#reset {
  border-top: 2px solid #a3ceda;
  border-left: 2px solid #a3ceda;
  border-right: 2px solid #4f6267;
  border-bottom: 2px solid #4f6267;
  /* padding:		10px 20px !important; */
  font-size: 14px !important;
  background-color: #98FB98;
  font-weight: bold;
  color: #376037;
  width: 145px;
  height: 30px;
  position: relative;
  left: 83px;
}

#filter {
  width: 100%
}

.required {
  color: red;
}

#comments {
  border-radius: 5px;
  height: 80px;
  width: 391px;
}

#cost {
  text-indent: 108px;
}

#sortTable {
  width: 100%;
}

#sortData {
  text-align: center;
}

#sortData:nth-child(odd) {
  background-color: #d8f8f5;
  /* background-color: #c5f5f0; */
}

#navigateLink {
  color: red;
  //text-decoration:none;
  //border: 2px solid red;
}

#heading {
  color: green;
}

#addId,
#addUserid,
#addEmpnum,
#addFname,
#addLname,
#addSaledate,
#addVariety,
#addStyle,
#addSize,
#addQty,
#addPounds {
  width: 9%;
}

#add {
  width: 5.8%;
}

#addPrice,
#addSaleDate {
  text-align: center;
}

#setPricesButton {
  width: 100px;
}

#sortTableTest {
  //background-color: red;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#sortTablePayRoll {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#sortTablePickList {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#filter {
  text-align: center;
}

#filter input {
  width: 30%;
}